<div class="flash">
  <%= flash[:notice] %>
</div>

<P>
  <strong>Title:</strong>
  <%= @book.title %>
</P>
<P>
  <strong>Body:</strong>
  <%= @book.body %>
</P>
<p class="back">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <span>|</span>
  <%= link_to "Back", "/books" %>
</p>